<nav class="navbar navbar-default" id="header">
  <div class="container-fluid container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"><img src="./images/agoda-logo.e11fa2e1.png" alt=""/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="top-item"><span class="flag-icon flag-icon-um"></span></a></li>
        <li><a class="top-item">USD</a></li>
        <li ng-click="login()"><a class="top-item" style="border-right: 1px solid #ddd"><i class="fa fa-user" aria-hidden="true"></i> Sign in <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="hero-banner" style="background-image: url('https://cdn6.agoda.net/images/ABTest/ABTest5692/home-1920x560-grand-canal-venice-italy.jpg');">
  <div class="container">
    <div class="form-search">
      <div class="header-form-search">
        <a ng-click="data.isFindRooms = true" ng-class="{'active': data.isFindRooms}">Rooms</a>
        <!--<a ng-click="data.isFindRooms = false" ng-class="{'active': !data.isFindRooms}">Flights</a>-->
      </div>
      <div class="content-form-search p-5">
        <div ng-if="data.isFindRooms" horizontal layout>
          <div class="form-group search-name">
            <label for="exampleInputEmail1">Where would you like to go?</label>
            <span uib-dropdown on-toggle="toggled(open)">
              <input type="text" class="form-control" id="exampleInputEmail1" uib-dropdown-toggle ng-model="data.hotelSelected.name">
              <div class="dropdown-menu sub-menu-search-name" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <ul class="list-unstyled">
                  <li>
                    <div class="header-sub-menu-name">Cities</div>
                    <ul class="list-unstyled list-hotels">
                      <li ng-repeat="item in data.citys" ng-click="selectHotel(item)">
                        <img ng-src="{{item.img}}" alt="" width="40" height="40" ng-if="item.img"/>
                        <div class="name-city">{{item.name}}</div>
                        <div class="pull-right">{{item.hotels}}</div>
                      </li>
                     
                    </ul>
                  </li>
                  <li>
                    <div class="header-sub-menu-name">Areas</div>
                    <ul class="list-unstyled list-hotels">
                      <li ng-repeat="item in data.citys" ng-click="selectHotel(item)">
                        <div class="name-city">{{item.name}}</div>
                        <div class="pull-right">{{item.hotels}}</div>
                      </li>
                     
                    </ul>
                  </li>
                </ul>
              </div>
            </span>
          </div>
          <div class="form-group search-date p-5">
            <label>Check in:</label>
            <div class="input-group ">
              <input type="text" class="form-control" uib-datepicker-popup="{{data.format}}" ng-model="data.dt" is-open="popup1.opened" datepicker-options="data.dateOptions" ng-required="true" close-text="Close" alt-input-formats="data.altInputFormats" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            </div>
          </div>

          <div class="form-group search-date p-5">
            <label>Check out:</label>
            <div class="input-group ">
              <input type="text" class="form-control" uib-datepicker-popup="{{data.format}}" ng-model="data.td" is-open="popup2.opened" datepicker-options="data.dateOptions" ng-required="true" close-text="Close" alt-input-formats="data.altInputFormats" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            </div>
          </div>

          <div class="form-group search-guest p-5">
            <label for="exampleInputEmail1">Guests:</label>
            <span uib-dropdown on-toggle="toggled(open)" auto-close="outsideClick">
              <input type="text" class="form-control oneline-guests guest-search" value="{{data.rooms}} Rooms {{data.adults}} Adults {{data.children}} Children" data-selenium="occupancyBox" readonly="" uib-dropdown-toggle>
              <ul class="dropdown-menu sub-menu-guests" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li horizontal layout center>
                  <div flex>Rooms</div>
                  <button class="btn btn-primary" type="button" ng-click="minus(1)" ng-disabled="!data.rooms"><i class="fa fa-minus" aria-hidden="true"></i></button>
                  <div style="width: 40px" class="text-center">{{data.rooms}}</div>
                  <button class="btn btn-primary" type="button" ng-click="addC(1)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </li>
                <li horizontal layout center>
                  <div flex>Adults</div>
                  <button class="btn btn-primary" type="button" ng-click="minus(2)" ng-disabled="!data.adults"><i class="fa fa-minus" aria-hidden="true"></i></button>
                  <div style="width: 40px" class="text-center">{{data.adults}}</div>
                  <button class="btn btn-primary" type="button" ng-click="addC(2)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </li>
                <li horizontal layout center>
                  <div flex>Children</div>
                  <button class="btn btn-primary" type="button" ng-click="minus(3)" ng-disabled="!data.children"><i class="fa fa-minus" aria-hidden="true"></i></button>
                  <div style="width: 40px" class="text-center">{{data.children}}</div>
                  <button class="btn btn-primary" type="button" ng-click="addC(3)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </li>
              </ul>
            </span>
          </div>

          <button type="submit" class="btn btn-primary search-button oneline-search-button" data-selenium="searchButton" data-warning="Please enter the name of a Country, City, Airport, Area, Landmark or Hotel to proceed.">

                <span class="js-search-button-unclicked-label">
                    Search
                </span>

                <span class="js-search-button-clicked-label search-button-clicked-label">
                    <i class="submit-progress-spinner"></i>
                </span>


          </button>

        </div>
        <div ng-if="!data.isFindRooms">
          fight
        </div>
      </div>
    </div>
  </div>


</div>

<div class="divider-banner">
  <div id="insider-banner" class="insider-banner">
    <i class="icon insider-banner-tag"></i>
    <div class="flex-left">
      <p>Up to 30% off with Agoda Insider Deals!</p>
      <span class="signin-context">To see lower prices, just sign in.</span>
    </div>
    <div class="flex-right">
      <span class="signin-context">Sign in now<i class="icon icon-insider-signin"></i></span>
    </div>
  </div>
</div>

<article class="mosaic">
  <h3 class="mosaic-title" data-selenium="top-destination-header">Top destinations</h3>
  <ul>
    <li class="mosaic-row mosaic-row-one clearfix" data-selenium="top-destination-row">
      <section class="mosaic-cell">
        <figure>
          <div class="mosaic-cell-overlay"></div>
          <img src="https://pix6.agoda.net/city/13170/13170-7x3.jpg?s=762x328&amp;p=true" alt="Ho Chi Minh City">
          <a class="mosaic-cell-caption" data-selenium="destination-url">
            <figcaption>
              <h4 class="mosaic-cell-caption-city" data-selenium="destination-city">Ho Chi Minh City</h4>
              <span class="mosaic-cell-caption-country" data-selenium="destination-country">Vietnam</span>
            </figcaption>
          </a>
        </figure>
      </section>
      <section class="mosaic-cell">
        <figure>
          <div class="mosaic-cell-overlay"></div>
          <img src="https://pix6.agoda.net/city/2758/2758-1x1.jpg?s=328x328&amp;p=true" alt="Hanoi">
          <a class="mosaic-cell-caption" data-selenium="destination-url">
            <figcaption>
              <h4 class="mosaic-cell-caption-city" data-selenium="destination-city">Hanoi</h4>
              <span class="mosaic-cell-caption-country" data-selenium="destination-country">Vietnam</span>
            </figcaption>
          </a>
        </figure>
      </section>
    </li>
    <li class="mosaic-row mosaic-row-two clearfix" data-selenium="top-destination-row">
      <section class="mosaic-cell">
        <figure>
          <div class="mosaic-cell-overlay"></div>
          <img src="https://pix6.agoda.net/city/9395/9395-1x1.jpg?s=345x345&amp;p=true" alt="Bangkok">
          <a class="mosaic-cell-caption" data-selenium="destination-url">
            <figcaption>
              <h4 class="mosaic-cell-caption-city" data-selenium="destination-city">Bangkok</h4>
              <span class="mosaic-cell-caption-country" data-selenium="destination-country">Thailand</span>
            </figcaption>
          </a>
        </figure>
      </section>
      <section class="mosaic-cell">
        <figure>
          <div class="mosaic-cell-overlay"></div>
          <img src="https://pix6.agoda.net/city/4064/4064-1x1.jpg?s=345x345&amp;p=true" alt="Singapore">
          <a class="mosaic-cell-caption" data-selenium="destination-url">
            <figcaption>
              <h4 class="mosaic-cell-caption-city" data-selenium="destination-city">Singapore</h4>
              <span class="mosaic-cell-caption-country" data-selenium="destination-country">Singapore</span>
            </figcaption>
          </a>
        </figure>
      </section>
      <div class="mosaic-cell">
        <!-- nest these two mosaic-cells below because they need to sit right in the layout -->
        <section class="mosaic-cell">
          <figure>
            <div class="mosaic-cell-overlay"></div>
            <img src="https://pix6.agoda.net/city/16440/16440-7x3.jpg?s=390x168&amp;p=true" alt="Da Nang">
            <a class="mosaic-cell-caption" data-selenium="destination-url">
              <figcaption>
                <h4 class="mosaic-cell-caption-city" data-selenium="destination-city">Da Nang</h4>
                <span class="mosaic-cell-caption-country" data-selenium="destination-country">Vietnam</span>
              </figcaption>
            </a>
          </figure>
        </section>
        <section class="mosaic-cell">
          <figure>
            <div class="mosaic-cell-overlay"></div>
            <img src="https://pix6.agoda.net/city/2679/2679-7x3.jpg?s=390x168&amp;p=true" alt="Nha Trang">
            <a class="mosaic-cell-caption" data-selenium="destination-url">
              <figcaption>
                <h4 class="mosaic-cell-caption-city" data-selenium="destination-city">Nha Trang</h4>
                <span class="mosaic-cell-caption-country" data-selenium="destination-country">Vietnam</span>
              </figcaption>
            </a>
          </figure>
        </section>
      </div>
    </li>
    <li class="mosaic-row mosaic-row-three clearfix" data-selenium="top-destination-row">
      <section class="mosaic-cell">
        <figure>
          <div class="mosaic-cell-overlay"></div>
          <img src="https://pix6.agoda.net/city/16552/16552-4x3.jpg?s=396x298&amp;p=true" alt="Hoi An">
          <a class="mosaic-cell-caption" data-selenium="destination-url">
            <figcaption>
              <h4 class="mosaic-cell-caption-city" data-selenium="destination-city">Hoi An</h4>
              <span class="mosaic-cell-caption-country" data-selenium="destination-country">Vietnam</span>
            </figcaption>
          </a>
        </figure>
      </section>
      <section class="mosaic-cell">
        <figure>
          <div class="mosaic-cell-overlay"></div>
          <img src="https://pix6.agoda.net/city/15932/15932-7x3.jpg?s=694x298&amp;p=true" alt="Dalat">
          <a class="mosaic-cell-caption" data-selenium="destination-url">
            <figcaption>
              <h4 class="mosaic-cell-caption-city" data-selenium="destination-city">Dalat</h4>
              <span class="mosaic-cell-caption-country" data-selenium="destination-country">Vietnam</span>
            </figcaption>
          </a>
        </figure>
      </section>
    </li>
  </ul>
</article>

<footer class="full-width footer " id="footer" data-selenium="footer">

  <div class="copyright-container clearfix" data-selenium="copyright-container">

    <div class="container">

    <div class="col-xs-12" data-selenium="copyright-text">
      <div class="wrap-footer wrap-footer clearfix container-agoda">
        <i class="agoda-footer-icon"></i>
        <div class="col-xs-9 material">
          <div class="text" data-selenium="copyright-material">
            All material herein © 2005 – 2016 Agoda Company Pte. Ltd., All Rights Reserved.
          </div>
          <div class="text" data-selenium="copyright-trademark">
            <span>AGODA ® is a registered trademark of AGIP LLC, used under license by Agoda Company Pte. Ltd.</span>
            <img src="https://cdn6.agoda.net/images/desktop/logo-priceline.png" alt="Priceline">
                    <span data-selenium="copyright-symbol">
                    (NASDAQ:PCLN)
                    </span>
          </div>

        </div>
        <div class="col-xs-3 verisign-pata pull-right">
          <a data-selenium="copyright-verisign" title="VeriSign">
            <img src="https://cdn6.agoda.net/images/desktop/logo-verisign.png" alt="Powered by VeriSign">
          </a>
          <a rel="nofollow"  id="copyright-pata" data-selenium="copyright-pata" data-toggle="tooltip" data-placement="bottom" data-original-title="Accredited member of PATA">
            <img data-text="Accredited member of PATA" src="https://cdn6.agoda.net/images/desktop/logo-pata.png" alt="Accredited member of PATA">
          </a>
        </div>
      </div>
    </div>
    </div>

  </div>


  <div class="top-destinations-box container-agoda" data-selenium="top-destinations-div">
    <table cellspacing="0" cellpadding="0"><tbody><tr><td><ul class="xslgray tex_left"><li class="slgraybold"><a title="Top countries">Top countries</a></li>
      <li><a title="Australia hotels">Australia hotels</a></li>
      <li><a title="Cambodia hotels">Cambodia hotels</a></li>
      <li><a title="China hotels">China hotels</a></li>
      <li><a title="India hotels">India hotels</a></li>
      <li><a title="Indonesia hotels">Indonesia hotels</a></li>
      <li><a title="Japan hotels">Japan hotels</a></li>
      <li><a title="Laos hotels">Laos hotels</a></li>
      <li><a title="Malaysia hotels">Malaysia hotels</a></li>
      <li><a title="Myanmar hotels">Myanmar hotels</a></li>
      <li><a title="Nepal hotels">Nepal hotels</a></li>
      <li><a title="New Zealand hotels">New Zealand hotels</a></li>
      <li><a title="Philippines hotels">Philippines hotels</a></li>
      <li><a title="Singapore hotels">Singapore hotels</a></li>
      <li><a title="South Korea hotels">South Korea hotels</a></li>
      <li><a title="Sri Lanka hotels">Sri Lanka hotels</a></li>
      <li><a title="Taiwan hotels">Taiwan hotels</a></li>
      <li><a title="Thailand hotels">Thailand hotels</a></li>
      <li><a title="Vietnam hotels">Vietnam hotels</a></li></ul> </td>
      <td> <ul class="xslgray tex_left">
        <li><a title="Austria hotels">Austria hotels</a></li>
        <li><a title="Czech Republic hotels">Czech Republic hotels</a></li>
        <li><a title="Denmark hotels">Denmark hotels</a></li>
        <li><a title="Finland hotels">Finland hotels</a></li>
        <li><a title="France hotels">France hotels</a></li>
        <li><a title="Germany hotels">Germany hotels</a></li>
        <li><a  title="Greece hotels">Greece hotels</a></li>
        <li><a  title="Hungary hotels">Hungary hotels</a></li>
        <li><a  title="Ireland hotels">Ireland hotels</a></li>
        <li><a  title="Italy hotels">Italy hotels</a></li>
        <li><a  title="Netherlands hotels">Netherlands hotels</a></li>
        <li><a title="Russia hotels">Russia hotels</a></li>
        <li><a  title="Spain hotels">Spain hotels</a></li>
        <li><a  title="Sweden hotels">Sweden hotels</a></li>
        <li><a title="Switzerland hotels">Switzerland hotels</a></li>
        <li><a  title="United Kingdom hotels">United Kingdom hotels</a></li>
        <li><a title="Argentina hotels">Argentina hotels</a></li>
        <li><a title="Brazil hotels">Brazil hotels</a></li></ul> </td>
      <td> <ul class="xslgray tex_left">
        <li><a title="Canada hotels">Canada hotels</a></li>
        <li><a title="Mexico hotels">Mexico hotels</a></li>
        <li><a title="United States hotels">United States hotels</a></li>
        <li><a title="Venezuela hotels">Venezuela hotels</a></li>
        <li><a title="Bahrain hotels">Bahrain hotels</a></li>
        <li><a title="Israel hotels">Israel hotels</a></li>
        <li><a title="United Arab Emirates hotels">United Arab Emirates hotels</a></li>
        <li><a title="Egypt hotels">Egypt hotels</a></li>
        <li><a title="Morocco hotels">Morocco hotels</a></li>
        <li><a title="South Africa hotels">South Africa hotels</a></li></ul> </td>
      <td> <ul class="xslgray tex_left"><li class="slgraybold"><a title="Top cities">Top cities</a></li>
        <li><a title="Bangkok hotels">Bangkok hotels</a></li>
        <li><a  title="Chiang Mai hotels">Chiang Mai hotels</a></li>
        <li><a  title="Phuket hotels">Phuket hotels</a></li>
        <li><a title="Tokyo hotels">Tokyo hotels</a></li>
        <li><a  title="Bandung hotels">Bandung hotels</a></li>
        <li><a title="Hong Kong hotels">Hong Kong hotels</a></li>
        <li><a  title="Pattaya hotels">Pattaya hotels</a></li>
        <li><a title="Ho Chi Minh City hotels">Ho Chi Minh City hotels</a></li>
        <li><a title="London hotels">London hotels</a></li>
        <li><a title="Taipei hotels">Taipei hotels</a></li>
        <li><a title="Amsterdam hotels">Amsterdam hotels</a></li>
        <li><a title="Seoul hotels">Seoul hotels</a></li>
        <li><a title="Jakarta hotels">Jakarta hotels</a></li>
        <li><a title="Sydney hotels">Sydney hotels</a></li>
        <li><a title="Osaka hotels">Osaka hotels</a></li>
        <li><a title="Penang hotels">Penang hotels</a></li>
        <li><a title="Malacca hotels">Malacca hotels</a></li>
        <li><a title="Johor Bahru hotels">Johor Bahru hotels</a></li>
      </ul>
      </td>
      <td> <ul class="xslgray tex_left">
        <li><a title="Shanghai hotels">Shanghai hotels</a></li>
        <li><a title="Macau hotels">Macau hotels</a></li>
        <li><a title="Miami (FL) hotels">Miami (FL) hotels</a></li>
        <li><a title="Hua Hin hotels">Hua Hin hotels</a></li>
        <li><a title="Cebu hotels">Cebu hotels</a></li>
        <li><a title="Dubai hotels">Dubai hotels</a></li>
        <li><a title="Kyoto hotels">Kyoto hotels</a></li>
        <li><a title="Rome hotels">Rome hotels</a></li>
        <li><a title="Frankfurt hotels">Frankfurt hotels</a></li>
        <li><a title="Munich hotels">Munich hotels</a></li>
        <li><a title="Milan hotels">Milan hotels</a></li>
        <li><a  title="Singapore hotels">Singapore hotels</a></li>
        <li><a title="Krabi hotels">Krabi hotels</a></li>
        <li><a title="Kuala Lumpur hotels">Kuala Lumpur hotels</a></li>
        <li><a title="Bali hotels">Bali hotels</a></li>
        <li><a title="Manila hotels">Manila hotels</a></li>
        <li><a  title="Paris hotels">Paris hotels</a></li>
        <li><a title="Barcelona hotels">Barcelona hotels</a></li></ul> </td>
      <td> <ul class="xslgray tex_left">
        <li><a title="Madrid hotels">Madrid hotels</a></li>
        <li><a title="Istanbul hotels">Istanbul hotels</a></li>
        <li><a title="Berlin hotels">Berlin hotels</a></li>
        <li><a title="Prague hotels">Prague hotels</a></li>
        <li><a  title="Budapest hotels">Budapest hotels</a></li>
        <li><a  title="Manchester hotels">Manchester hotels</a></li>
        <li><a title="Venice hotels">Venice hotels</a></li>
        <li><a title="Edinburgh hotels">Edinburgh hotels</a></li>
        <li><a  title="Brussels hotels">Brussels hotels</a></li>
        <li><a  title="Dublin hotels">Dublin hotels</a></li>
        <li><a title="Las Vegas (NV) hotels">Las Vegas (NV) hotels</a></li>
        <li><a title="New York (NY) hotels">New York (NY) hotels</a></li>
        <li><a  title="Chicago (IL) hotels">Chicago (IL) hotels</a></li>
        <li><a title="Los Angeles (CA) hotels">Los Angeles (CA) hotels</a></li>
        <li><a title="San Francisco (CA) hotels">San Francisco (CA) hotels</a></li>
        <li><a title="Hawaii – Oahu (HI) hotels">Hawaii – Oahu (HI) hotels</a></li>
        <li><a title="Orlando (FL) hotels">Orlando (FL) hotels</a></li>
        <li><a title="San Diego (CA) hotels">San Diego (CA) hotels</a></li></ul> </td> </tr></tbody></table>
  </div>

  <div class="box-groups row-spacing logo-bar-container clearfix">
    <div class="container">

    <div class="col-xs-12">
      <div class="logo-bar-grid">
        <div class="logo-bar-text-container">
          <p data-selenium="logo-bar-text">Agoda is part of The Priceline Group, the world leader in online travel &amp; related services.</p>
        </div>
        <ul class="logo-group-container" data-selenium="logo-group-container">
          <li><i class="bg-brands icon-brand-01"></i></li>
          <li><i class="bg-brands icon-brand-02"></i></li>
          <li><i class="bg-brands icon-brand-03"></i></li>
          <li><i class="bg-brands icon-brand-04"></i></li>
          <li><i class="bg-brands icon-brand-05"></i></li>
          <li><i class="bg-brands icon-brand-06"></i></li>
        </ul>
      </div>
    </div>
    </div>

  </div>
  <div class="row-spacing">
    <div class="col-xs-12 text-center small">
      <small>HK-AGWEB-2E05</small>
    </div>
  </div>
</footer>